@font-face {
    font-family: 'Jameel Khushkhati';
    src: url('JameelKhushkhati.woff2') format('woff2'),
        url('JameelKhushkhati.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

